<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.css" integrity="sha512-E+53kXnJyuZFSz75xSmTfCpUNj3gp9Bd80TeQQMTPJTVWDRHPOpEYczGwWtsZXvaiz27cqvhdH8U+g/NMYua3A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    
    {%block title%}{%endblock%}
   </head>
<body>
    <div class="float">
        <a href="" class="item" ><i class="fa-brands fa-twitter"></i></a>
        <a href="" class="item"><i class="fa-brands fa-instagram"></i></a>
        <a href="" class="item"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="" class="item"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="" class="item"><i class="fa-brands fa-youtube"></i></a>    
    </div>
   
    {%block content%}{%endblock%}
    

    <script src="{{url_for('static', filename='js/main.js')}}" alt=""></script>
</body>
</html>